<table style='width: 100%'>
  <tr>
    <td>
      <div class="col-md-6 col-md-offset-3">
        <%= form_for @order do |form| %>
          <div class="form-group">
            <%= form.label :item_name%>
            <%= form.text_field :item_name,:class=>'form-control input-md' %>
            <%= error_message form, :item_name%>
          </div>
          <div class="form-group">
            <%= form.label :pickup_address %>
            <%= form.text_area :pickup_address,:class=>'form-control input-md' %>
            <%= error_message form,:pickup_address%>
          </div>

          <div class="form-group">
            <%= form.label :delivery_address %>
            <%= form.text_area :delivery_address,:class=>'form-control input-md' %>
            <%= error_message form,:pickup_address%>
          </div>
          <%= form.submit "Submit",:class=>'btn btn-primary'%>
         <%end%>
      </div>
    </td>
    <td>
      <ul class="list-group">
        <h3>Previous Addres</h3>
      <% previous_address.each do |address|%>
        <% unless address.delivery_address.empty? %>
          <li class="list-group-item" onclick="copyAddressToDelivery(this)">
            <%=address.delivery_address%>
          </li>
         <%end%>
       <%end%>
     </ul>
    </td>
  </tr>
</table>
