
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> Item - <%=@order.item_name%></h3>
  </div>
  <div class="panel-body">
    <%=@order.pickup_address%>
    <%=@order.delivery_address%>
    <%=@order.created_at%>
    <ul id="order_path-<%=@order.id%>" class="list-group">
     <%@order.order_transits.each do |transit|%>
       <li class="list-group-item" ><%=transit.location%> - <%=transit.agent_name%> - <%=transit.agent_phone_number%> </li>
     <%end%>
    </ul>
  </div>
</div>
