<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" style="padding: 20px">
  <%= link_to "Delivery App", root_path,:class=>"navbar-brand" %>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <% if signd_in? %>
        <%= link_to "Home",root_path,class: "navbar-brand" %>
        <%= link_to "Sign Out",logout_path, method: :delete,class: "navbar-brand" %>
        <%else%>
           <%= link_to "Log in",login_path,class: "navbar-brand" %>
           <%= link_to "Sign Up",signup_path,class: "navbar-brand" %>
        <%end%>
    </li>
  </ul>
</nav>
